.footer {
  // .footer__content
  &__content {
  }

  &__wrapper {
    background: #171719;
  }

  // .footer__body
  &__body {
    display: flex;
    align-items: stretch;
    padding: 53px 0px;

    @media (max-width:$md3+px){
      flex-direction: column-reverse;
    }
  }

  // .footer__column
  &__column {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    &:first-child {
      @media (max-width: $md2+px) {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
      @media (any-hover: hover){
        &:hover{
          .adress-block-footer__adress-text {
            color: $orangeColor;
            text-decoration: underline;
          }
        }
      }

      @media (max-width:$md3+px){
        margin-bottom: 30px;
      }
    }
  }
}

.information-footer {
  text-align: center;

  // .information-footer__inn
  &__inn {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.105em;

    @media (max-width: $md1+px) {
      font-size: 28px;
      line-height: 34px;
    }
    @media (max-width: $md2+px) {
      font-size: 25px;
      line-height: 31px;
    }
    @media (max-width: $md3+px) {
      font-size: 22px;
      line-height: 28px;
    }
    @media (max-width: $md4+px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  // .information-footer__logo
  &__logo {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.105em;
    color: $orangeColor;
    margin-bottom: 3px;

    @media (max-width: $md1+px) {
      font-size: 34px;
      line-height: 40px;
    }
    @media (max-width: $md2+px) {
      font-size: 33px;
      line-height: 43px;
    }
    @media (max-width: $md3+px) {
      font-size: 29px;
      line-height: 35px;
    }
    @media (max-width: $md4+px) {
      font-size: 26px;
      line-height: 31px;
    }
  }

  // .information-footer__secretstudio
  &__secretstudio {
    a {
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.015em;
      text-decoration-line: underline;
      color: $mainColor;

      @media (max-width: $md2+px) {
        font-size: 14px;
        line-height: 17px;
      }
      @media (max-width: $md3+px) {
        font-size: 13px;
        line-height: 16px;
      }
      @media (max-width: $md4+px) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (any-hover: hover) {
        &:hover {
          text-decoration-line: none;
        }
      }
    }
  }
}

.adress-block-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  // .adress-block-footer__location
  &__location {
    margin-right: 14px;
  }

  // .adress-block-footer__adress
  &__adress {
  }

  // .adress-block-footer__adress-title
  &__adress-title {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.175em;
    color: #F6F6F6;

    @media (max-width: $md2+px) {
      font-size: 14px;
      line-height: 17px;
    }
    @media (max-width: $md3+px) {
      font-size: 13px;
      line-height: 16px;
    }
    @media (max-width: $md4+px) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__adress-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.045em;
    color: #F6F6F6;
    transition: color 0.3s ease 0s;


    @media (max-width:$md1+px){
      font-size: 19px;
      line-height: 23px;
    }
    @media (max-width:$md2+px){
      font-size: 18px;
      line-height: 22px;
    }
    @media (max-width:$md3+px){
      font-size: 17px;
      line-height: 21px;
    }
    @media (max-width:$md4+px){
      font-size: 16px;
      line-height: 20px;
    }

  }
}
